.banner{
    background-image: url(../../../images/banner/1920-800-3.jpg);
    height: 100vh;
    width: 99%;
    background-size: cover;
    background-position: center;
}
.banner-text{
    margin-left: 40%;
}
.btn-regular{
    background-color: #e12454;
    border: 1px solid #e12454;
    font-weight: 500;
}

@media only screen and (max-width) {
    .banner{
        background-position: right;
    }
}