.fb{
    margin-right: 10px;
    font-size: 30px;
    color: #1472ea;
}
.twitter{
    margin-right: 10px; 
    font-size: 30px;
    color: #1c9ceb;
}
.google{
    margin-right: 10px;
    font-size: 30px;
    color: #d54836;
}
.youtube{
    margin-right: 10px;
    font-size: 30px;
    color: #f70000;
}
.whatsapp{
    margin-right: 10px;
    font-size: 30px;
    color: #43e460;
}